<h1>List: <%= @list.name %></h1>

<% @companies = @list.companies.order("company_lists.position asc") %>

<%= render 'companies/big5_list', companies: @companies, list: @list %>

<br>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
