<div class='note'>
	<div class="note_header">
		<span class="date"><%= date(note.created_at) %></span>
		<span class="delete"><%= link_to raw('&times;'), [note.company, note], method: :delete, data: { confirm: 'Are you sure?' } %></span>
		<!-- <%= link_to 'Edit', edit_company_note_path(note.company, note) %> -->
	</div>
	<div class='note_body'>
	<%= simple_format(note.body) %>
	</div>
</div>