<div class="big5 header">
<span class="square"></span>
<span class="square">Debt</span>
<span class="square">Revenue</span>
<span class="square">EPS</span>
<span class="square">FCF</span>
<span class="square">Equity</span>
<span class="square">ROIC</span>
<span class="square"></span>
<span class="square">Discount</span>
<span class="square">Gain</span>
<span class="square">Sector / Industry</span>
</div>
