<h1><%= params['screen'] %></h1>

<%= render 'companies/big5_list', companies: @companies %>

<br>
<%= link_to 'update quotes for these companies', url_for(screen: params['screen'], updateQuotes: true) %>
<br>
<%= link_to 'pull complete financials for these companies', updateCompanies_url(company_ids: @companies.pluck(:id)) %>
