/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$base: hsl(220, 20, 70);

body {
	margin: 0;
	padding: 0;
}
body, p, ol, ul, td {
/*	font-family: Helvetica, sans-sefif;*/
	line-height: 140%;
	font-size: 16px;
}
.container {
	padding: 0 10% 5rem;
}
.content {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}
h1, .centered {
	text-align: center;
}
h1 {
	line-height: 120%;
}

.light {
	opacity: .2;
}
.home_sections {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.home_section {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0 3%;
	text-align: left;
}
a, a:visited {
	color: darken($base, 20%);
	text-decoration: none;
}
a:hover {
	color: darken($base, 40%);
	background: none;
	text-decoration: underline;
}


#notice, #alert {
	text-align: center;
}
.navBar {
/*	background: linear-gradient(hsl(220, 20%, 95%), hsl(220, 20%, 90%));*/
/*	border-top: 10px solid hsl(220, 20%, 70%);*/
	background: $base;
	padding: 0rem 2rem;
	margin: 0;
	text-align: center;
}
.navBar a {
	color: lighten($base, 40%);
/*	font-weight: bold;*/
}
.navBar a:hover {
/*	color: darken($base, 40%);*/
	background: lighten($base, 5%);
}
.navBar ul {
	padding: 0;
	margin: 0;
}
.navBar ul li {
	display: inline;
	margin: 0;
	position: relative;
}
.navBar ul li a {
	text-decoration: none;
	padding: .5rem .5rem;
	display: inline-block;
}
.navBar ul li ul {
	margin: 0rem;
	padding: 0;
	display: none;
	position: absolute;
	width: auto;
	text-align: left;
	box-shadow: 0px 1px 10px hsla(0, 0%, 0%, .1);
/*	border: 5px solid hsl(220, 30%, 90%);*/
	background: lighten($base, 3%);;
	z-index: 1000;
}
.navBar ul li:hover ul {
	display: block;
}
.navBar ul li ul li {
	display: block;
	white-space: nowrap;
	background: lighten($base, 0%);;
}
.navBar ul li ul li a {
	display: block;
	margin: 1px 0px 0px 0px;
/*	border: 1px solid #fff;*/
}

