/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
th {
	font-weight: normal;
	background: #fff;
	margin: 0;
	padding: .2rem;
	color: #aaa;
}
table.metrics {
	margin: 1rem 0;
}
table.metrics caption {
	font-size: 1rem;
	font-weight: bold;
	text-align: left;
	margin: .5rem 0;
}
table.metrics tr.ttm td {
	background: #ddd;
	text-align: right;
}
table.metrics td {
	background: #eee;
	text-align: right;
	margin: 0;
	padding: 1px 3px;
}
table.metrics td.key {
/*	background: #fff;*/
	font-weight: bold;
}

table.summary td {
	background: #eee;
	text-align: center;
	margin: 0;
	padding: 0 .5rem;
	font-size: .9rem;
}
table td.yes {
	background: #cec;
}
table td.no {
	background: #ecc;
}
table.summary td.symbol {
	background: initial;
	margin: 0;
	padding: 0;
}
table.summary a {
	text-decoration: none;
	display: block;
	padding: 1rem .1rem;
	font-size: 1.3rem;
}
table.summary td.great_company {
	margin: 0;
	padding: 0;
}
table.summary td.great_company a {
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
	background: #eee;
	padding: 1rem .8rem;
}
table.summary td.great_company.true a {
	background: #ada;
}
table.summary td.great_company a:hover {
	background: #ccc;
}
