// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* "temperature" for big 5 percentages */
$green: hsl(130, 70%, 70%);
$red: hsl(0, 80%, 70%);
$t10: $green;
$t9: scale_color($green, $saturation: -10%, $lightness: 10%);
$t8: scale_color($green, $saturation: -20%, $lightness: 20%);
$t7: scale_color($green, $saturation: -30%, $lightness: 30%);
$t6: scale_color($green, $saturation: -40%, $lightness: 40%);
$t5: scale_color($green, $saturation: -50%, $lightness: 40%);
$t4: scale_color($green, $saturation: -60%, $lightness: 40%);
$t3: scale_color($green, $saturation: -70%, $lightness: 40%);
$t2: scale_color($green, $saturation: -80%, $lightness: 40%);
$t1: scale_color($green, $saturation: -90%, $lightness: 40%);
$t0: scale_color($green, $saturation: -100%, $lightness: 40%);
$t-1: scale_color($red, $saturation: -90%, $lightness: 40%);
$t-2: scale_color($red, $saturation: -80%, $lightness: 40%);
$t-3: scale_color($red, $saturation: -70%, $lightness: 40%);
$t-4: scale_color($red, $saturation: -60%, $lightness: 40%);
$t-5: scale_color($red, $saturation: -50%, $lightness: 40%);
$t-6: scale_color($red, $saturation: -40%, $lightness: 40%);
$t-7: scale_color($red, $saturation: -30%, $lightness: 30%);
$t-8: scale_color($red, $saturation: -20%, $lightness: 20%);
$t-9: scale_color($red, $saturation: -10%, $lightness: 10%);
$t-10: $red;


.t10 {
	background: $t10;
}
.t9 {
	background: $t9;
}
.t8 {
	background: $t8;
}
.t7 {
	background: $t7;
}
.t6 {
	background: $t6;
}
.t5 {
	background: $t5;
}
.t4 {
	background: $t4;
}
.t3 {
	background: $t3;
}
.t2 {
	background: $t2;
}
.t1 {
	background: $t1;
}
.t0 {
	background: $t0;
}
.t-1 {
	background: $t-1;
}
.t-2 {
	background: $t-2;
}
.t-3 {
	background: $t-3;
}
.t-4 {
	background: $t-4;
}
.t-5 {
	background: $t-5;
}
.t-6 {
	background: $t-6;
}
.t-7 {
	background: $t-7;
}
.t-8 {
	background: $t-8;
}
.t-9 {
	background: $t-9;
}
.t-10 {
	background: $t-10;
}

.big5_list {
	width: 45rem;
	margin: auto;
}

.big5 {
	display: flex;
	font-size: .8rem;
}
.big5.header span {
	color: #aaa;
	height: 1.5rem;
	font-size: .7rem;
	line-height: 100%;
}
.big5 span.square {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 3.5rem;
	height: 3.5rem;
	margin: 1px;
	flex-shrink: 0;
	line-height: 1;
	flex-wrap: wrap;
}
.big5 .symbol a {
	font-size: 1rem;
}
.big5 .great_company a {
	font-size: 2rem;
	color: #ddd;
}
.big5 .great_company {
	background: #f5f5f5;
}
.big5 .great_company.true {
	background: $green;
}
.big5 .great_company.true a {
	color: #fff;
}
.big5 span a {
	text-decoration: none;
	font-weight: bold;
/*	color: #fff;*/
}
.big5 span a:hover {
	background: inherit;
	color: #000;
}

.big5 span.sectorAndIndustry {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #555;
	max-height: 3.5rem;
	overflow: visible;
	text-align: left;
}
.big5 span.sectorAndIndustry p.sector, .big5 span.sectorAndIndustry p.industry {
	margin: 0;
}
.big5 span.sectorAndIndustry p.sector {
	font-size: .75rem;
	line-height: 1rem;
	white-space: nowrap;
}
.big5 span.sectorAndIndustry p.industry {
	font-size: .7rem;
	line-height: .8rem;
	white-space: nowrap;
/*	text-transform: uppercase;*/
}


/* financial tables */
table.metrics th, table.metrics td {
	font-size: .8rem;
	line-height: 100%;
	padding: .5rem;
}
table.metrics th {
	font-size: .7rem;
	font-weight: normal;
	background: #fff;
	margin: 0;
	padding: .2rem;
	color: #aaa;
	text-align: center;
}
table.metrics {
	margin: 1rem 0;
}
table.metrics caption {
	font-weight: bold;
	text-align: left;
	margin: .5rem 0;
}
table.metrics tr.quarterly td {
	background: #ddd;
	text-align: right;
}
table.metrics td {
	background: #eee;
	text-align: right;
	margin: 0;
/*	padding: 1px 3px;*/
}
table.metrics td.key {
/*	background: #fff;*/
	font-weight: bold;
}


#companyInfo {
	text-align: left;
}
#companyInfo p.description {
/*	max-height: 20rem;*/
/*	overflow: auto;*/
}
/* sidebar */
#companySidebar {
	float: right;
	padding: 1rem;
	margin: 0 0 0 5rem;
	background: #f0f3f7;
	width: 35%;
	border-radius: .5rem;
	border: 3px solid #e0e8ef;;
}
#companySidebar h4 {
	margin: 1rem 0 0 0;
}


