// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* "temperature" for big 5 percentages */
$green: hsl(130, 70%, 70%);
$red: hsl(0, 80%, 70%);
$t10: $green;
$t9: scale_color($green, $saturation: -10%, $lightness: 10%);
$t8: scale_color($green, $saturation: -20%, $lightness: 20%);
$t7: scale_color($green, $saturation: -30%, $lightness: 30%);
$t6: scale_color($green, $saturation: -40%, $lightness: 40%);
$t5: scale_color($green, $saturation: -50%, $lightness: 40%);
$t4: scale_color($green, $saturation: -60%, $lightness: 40%);
$t3: scale_color($green, $saturation: -70%, $lightness: 40%);
$t2: scale_color($green, $saturation: -80%, $lightness: 40%);
$t1: scale_color($green, $saturation: -90%, $lightness: 40%);
$t0: scale_color($green, $saturation: -100%, $lightness: 40%);
$t-1: scale_color($red, $saturation: -90%, $lightness: 40%);
$t-2: scale_color($red, $saturation: -80%, $lightness: 40%);
$t-3: scale_color($red, $saturation: -70%, $lightness: 40%);
$t-4: scale_color($red, $saturation: -60%, $lightness: 40%);
$t-5: scale_color($red, $saturation: -50%, $lightness: 40%);
$t-6: scale_color($red, $saturation: -40%, $lightness: 40%);
$t-7: scale_color($red, $saturation: -30%, $lightness: 30%);
$t-8: scale_color($red, $saturation: -20%, $lightness: 20%);
$t-9: scale_color($red, $saturation: -10%, $lightness: 10%);
$t-10: $red;


.t10 {
	background: $t10;
}
.t9 {
	background: $t9;
}
.t8 {
	background: $t8;
}
.t7 {
	background: $t7;
}
.t6 {
	background: $t6;
}
.t5 {
	background: $t5;
}
.t4 {
	background: $t4;
}
.t3 {
	background: $t3;
}
.t2 {
	background: $t2;
}
.t1 {
	background: $t1;
}
.t0 {
	background: $t0;
}
.t-1 {
	background: $t-1;
}
.t-2 {
	background: $t-2;
}
.t-3 {
	background: $t-3;
}
.t-4 {
	background: $t-4;
}
.t-5 {
	background: $t-5;
}
.t-6 {
	background: $t-6;
}
.t-7 {
	background: $t-7;
}
.t-8 {
	background: $t-8;
}
.t-9 {
	background: $t-9;
}
.t-10 {
	background: $t-10;
}


.big5 {
	display: flex;
}
.big5.header span {
	color: #aaa;
	height: 1.5rem;
}
.big5 span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3.5rem;
	margin: 1px;
}
.big5 .symbol a {
	font-size: 1rem;
	color: #777;
}
.big5 .great_company a {
	font-size: 2rem;
	color: #ddd;
}
.big5 .great_company {
	background: #f5f5f5;
}
.big5 .great_company.true {
	background: $green;
}
.big5 .great_company.true a {
	color: #fff;
}
.big5 span a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}
.big5 span a:hover {
	background: inherit;
	color: #000;
/*	text-decoration: underline;*/
}



/* financial tables */
th {
	font-weight: normal;
	background: #fff;
	margin: 0;
	padding: .2rem;
	color: #aaa;
}
table.metrics {
	margin: 1rem 0;
}
table.metrics caption {
	font-size: 1rem;
	font-weight: bold;
	text-align: left;
	margin: .5rem 0;
}
table.metrics tr.quarterly td {
	background: #ddd;
	text-align: right;
}
table.metrics td {
	background: #eee;
	text-align: right;
	margin: 0;
	padding: 1px 3px;
}
table.metrics td.key {
/*	background: #fff;*/
	font-weight: bold;
}



/* sidebar */
#companySidebar {
	float: right;
	padding: 1rem;
	margin: 0 0 0 1rem;
	background: #eee;
	width: 35%;
}
#companySidebar h4 {
	margin: 1rem 0 0 0;
}


