<h1>Account: <%= @account.name %></h1>

<% @companies = @account.active_companies %>

<%= render 'companies/big5_list', companies: @companies %>

<% avgGain = 0.0 %>
<% @companies.each do |c| %>
	<% avgGain += c.gain.to_f %>
<% end %>
<p><strong>average gain:</strong> <%= number_with_precision((avgGain / @companies.length), precision: 1) %>%</p>

<%= link_to 'pull complete financials for these companies', updateCompanies_url(company_ids: @companies) %>
